
@{
    ViewData["Title"] = "About";
}

    <!-- AQUI EMPIEZA LA SECCION ACERCA DE NOSOTROS -->
    <div id="QuienesSomos" class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Acerca de nosotros</h5>
                        <h1>La mejor forma de aprender</h1>
                    </div>
                    <p>TeachMe es una plataforma para que puedas brindarte la mejor forma de aprender y de forma económica 
                        por medio de cursos y libros super vergones para que puedas divertirte aprendiendo. Esta plataforma 
                        esta enfocada para todo tipo de personas que ya están aburridos de la enseñanza tradicional para que 
                        pueda dar un salto en su carrera profesional.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- AQUI TERMINA LA SECCION ACERCA DE NOSOTROS  -->

