
@{
    ViewData["Title"] = "InicioEstudiante";
}

<!-- AQUI EMPIEZA EL CAROUSELL-->
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 300px;">
                <img class="position-relative w-100" src="~/img/carousel-1.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">TeachMe SV</h5>
                        <h1 class="display-3 text-white mb-md-4">¡Pasion por aprender!</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="~/img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">La mejor educacion desde casa</h5>
                        <h1 class="display-3 text-white mb-md-4">¡Descarga los mejores cursos!</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="~/img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">La mejor educacion desde casa</h5>
                        <h1 class="display-3 text-white mb-md-4">¡Descarga los mejores libros!</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AQUI TERMINA EL CAROUSELL -->
<!-- AQUI EMPIEZA LA SECCION ACERCA DE NOSOTROS -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Acerca de nosotros</h5>
                    <h1>La mejor forma de aprender</h1>
                </div>
                <p>
                    TeachMe es una plataforma para que puedas brindarte la mejor forma de aprender y de forma económica
                    por medio de cursos y libros super chivos para que puedas divertirte aprendiendo. Esta plataforma
                    esta enfocada para todo tipo de personas que ya están aburridos de la enseñanza tradicional para que
                    pueda dar un salto en su carrera profesional.
                </p>
                <a  asp-area="" asp-area="" asp-controller="Home" asp-action="About"
                class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver mas</a>
            </div>
        </div>
    </div>
</div>
<!-- AQUI TERMINA LA SECCION ACERCA DE NOSOTROS  -->
<!-- AQUI EMPIEZA LA SECCION DE CATEGORIAS -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Categorias</h5>
            <h1>Explora los cursos</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-1.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                     asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">Diseño web</h4>
                        <span>Cursos</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-2.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                     asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">Desarrollo de apps</h4>
                        <span>Cursos</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-3.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                    asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">Diseño grafico</h4>
                        <span>Cursos</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-4.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                     asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">Libros </h4>
                        <span>Ver categorias</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-5.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                     asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">Marketing</h4>
                        <span>Cursos</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-6.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                     asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">Mindfullness</h4>
                        <span>Cursos</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-7.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                     asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">StartUps</h4>
                        <span>Cursos</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/cat-8.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" 
                    asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index">
                        <h4 class="text-white font-weight-medium">Indiomas</h4>
                        <span>Cursos</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AQUI TERMINA LA SECCION DE CATEGORIAS -->
<!-- AQUI EMPIEZA LA SECCION DE CURSOS -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Cursos</h5>
            <h1>Nuestros cursos mas populares</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2" style="width: 100%; height: 200px;">
                        <img class="img-fluid" src="~/img/course-1.jpg"
                             alt="Esta parte contiene la imagen del curso" width="568" height="320">
                    </div>
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="bi bi-bookmark-star-fill"></i> Software </small>
                            <small class="m-0"><i class="bi bi-calendar-check"></i> 16/03/2023 </small>
                        </div>
                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 9 horas</small>
                        <h6 class="m-0"><i class="bi bi-person-video2"></i> Daniel Fernando </h6>
                        <a class="nav-link" asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index" class="h5">Diseño y desarrollo web de cero a avanzado (HTML CSS JS) </a>
                        <div>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Aprende este lengua de programacio de cero a profesional</small></h6>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Sin saberes previos</small></h6>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0">Antes: <del>45.99$</del> </h6>
                                <h5 class="m-0"><i class="bi bi-coin"></i> 255.99$</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2" style="width: 100%; height: 200px;">
                        <img class="img-fluid" src="~/img/course-2.jpg"
                             alt="Esta parte contiene la imagen del curso" width="568" height="320">
                    </div>
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="bi bi-bookmark-star-fill"></i> Ingles </small>
                            <small class="m-0"><i class="bi bi-calendar-check"></i> 16/03/2023 </small>
                        </div>
                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 9 horas</small>
                        <h6 class="m-0"><i class="bi bi-person-video2"></i> Daniel Fernando </h6>
                        <a class="nav-link" asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index" class="h5">Ingles de cero a avanzado, aprende hablar como un nativo </a>
                        <div>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Aprende este idioma de cero a nativo</small></h6>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Sin saberes previos</small></h6>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0">Antes: <del>45.99$</del> </h6>
                                <h5 class="m-0"><i class="bi bi-coin"></i> 255.99$</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2" style="width: 100%; height: 200px;">
                        <img class="img-fluid" src="~/img/course-3.jpg"
                             alt="Esta parte contiene la imagen del curso" width="568" height="320">
                    </div>
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="bi bi-bookmark-star-fill"></i> Software </small>
                            <small class="m-0"><i class="bi bi-calendar-check"></i> 16/03/2023 </small>
                        </div>
                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 9 horas</small>
                        <h6 class="m-0"><i class="bi bi-person-video2"></i> Daniel Fernando </h6>
                        <a class="nav-link" asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index" class="h5">Diseño y desarrollo web de cero a avanzado (HTML CSS JS) </a>
                        <div>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Curso de super reading (aprende a leer muchos libros al mes)</small></h6>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Sin saberes previos</small></h6>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0">Antes: <del>45.99$</del> </h6>
                                <h5 class="m-0"><i class="bi bi-coin"></i> 255.99$</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2" style="width: 100%; height: 200px;">
                        <img class="img-fluid" src="~/img/course-4.jpg"
                             alt="Esta parte contiene la imagen del curso" width="568" height="320">
                    </div>
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="bi bi-bookmark-star-fill"></i> Software </small>
                            <small class="m-0"><i class="bi bi-calendar-check"></i> 16/03/2023 </small>
                        </div>
                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 9 horas</small>
                        <h6 class="m-0"><i class="bi bi-person-video2"></i> Daniel Fernando </h6>
                        <a class="nav-link" asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index" class="h5">Desarrollo de software con metodologias agiles </a>
                        <div>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Aprende este lengua de programacio de cero a profesional</small></h6>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Sin saberes previos</small></h6>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0">Antes: <del>45.99$</del> </h6>
                                <h5 class="m-0"><i class="bi bi-coin"></i> 255.99$</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2" style="width: 100%; height: 200px;">
                        <img class="img-fluid" src="~/img/course-5.jpg"
                             alt="Esta parte contiene la imagen del curso" width="568" height="320">
                    </div>
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="bi bi-bookmark-star-fill"></i> Crecimiento personal </small>
                            <small class="m-0"><i class="bi bi-calendar-check"></i> 16/03/2023 </small>
                        </div>
                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 9 horas</small>
                        <h6 class="m-0"><i class="bi bi-person-video2"></i> Daniel Fernando </h6>
                        <a class="nav-link" asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index" class="h5">Curso de habilidades blandasCurso de habilidades blandas </a>
                        <div>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Aprende a crecer personalmente mediante tecnicas avanzadas</small></h6>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Sin saberes previos</small></h6>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0">Antes: <del>45.99$</del> </h6>
                                <h5 class="m-0"><i class="bi bi-coin"></i> 255.99$</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2" style="width: 100%; height: 200px;">
                        <img class="img-fluid" src="~/img/course-6.jpg"
                             alt="Esta parte contiene la imagen del curso" width="568" height="320">
                    </div>
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="bi bi-bookmark-star-fill"></i> Diseno Grafico </small>
                            <small class="m-0"><i class="bi bi-calendar-check"></i> 16/03/2023 </small>
                        </div>
                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 9 horas</small>
                        <h6 class="m-0"><i class="bi bi-person-video2"></i> Daniel Fernando </h6>
                        <a class="nav-link" asp-area="" asp-area="" asp-controller="CursoEstudiante" asp-action="Index" class="h5">Diseño grafico (aprende conceptos basicos y softwares como photoshop e illustrator) </a>
                        <div>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Aprende este lengua de programacio de cero a profesional</small></h6>
                            <h6 class="m-0"><small><i class="bi bi-check-circle"></i> Sin saberes previos</small></h6>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0">Antes: <del>45.99$</del> </h6>
                                <h5 class="m-0"><i class="bi bi-coin"></i> 255.99$</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AQUI TERMINA LA SECCION DE CURSOS -->

<!-- AQUI EMPIEZA LA SECCION DE BLOGS -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nuestros Blog</h5>
            <h1>Lo mas reciente de nuestros blogs</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 mb-4">
                <div class="blog-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/blog-1.jpg" alt="">
                    <a class="blog-overlay text-decoration-none" asp-area="" asp-area="" asp-controller="BlogsEstudiante" asp-action="Index">
                        <h5 class="text-white mb-3">El aprendiza del futuro</h5>
                        <p class="text-primary m-0">19/02/2023</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="blog-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/blog-2.jpg" alt="">
                    <a class="blog-overlay text-decoration-none" asp-area="" asp-area="" asp-controller="BlogsEstudiante" asp-action="Index">
                        <h5 class="text-white mb-3">El mindfullness ayuda a mejorar en todo sentido</h5>
                        <p class="text-primary m-0">19/02/2023</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="blog-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/blog-3.jpg" alt="">
                    <a class="blog-overlay text-decoration-none" asp-area="" asp-area="" asp-controller="BlogsEstudiante" asp-action="Index">
                        <h5 class="text-white mb-3">Trading, la forma mas dificil de hacer dinero facil</h5>
                        <p class="text-primary m-0">19/02/2023</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AQUI TERMINA LA SECCION DE BLOGS -->


