@model TeachMeEntidadesDeNegocio.Categoria

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <hr />
    <hr />
    <h1>
        Eliminar
        <i class="bi bi-file-earmark-x-fill"></i>
    </h1>

    <h3>Estas seguro que deseas eliminar este registro?</h3>
    <hr />
    <hr />
    <div>
        <h4>Categoria</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Clasificacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Clasificacion)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Retornar a la vista</a>
        </form>
    </div>

</div>
